<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css/github-markdown.min.css">
  <title>doc.md</title>
</head>
<style>
    body {
      background-color: #121212;
      color: #ffffff;
    }
    .gridjs-td a {
        pointer-events: auto !important;
        color: #4ea1f3; /* 順便美化超連結顏色 */
        text-decoration: underline;
    }
</style>
<body>
  <h2><%- title %></h2>
  <div>
    <article class="markdown-body">
        <%- content %> 
    </article>
  </div>
</body>
</html>